<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>725914861876-li78tl9jvapvh1b5m8gbcqh7sm143hle.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.725914861876-li78tl9jvapvh1b5m8gbcqh7sm143hle</string>
	<key>API_KEY</key>
	<string>AIzaSyAfOk-A91mkFthFdpb3wiyO3mr0PP6Y6G4</string>
	<key>GCM_SENDER_ID</key>
	<string>725914861876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>luky.skrivos-gmail.com.Coffe</string>
	<key>PROJECT_ID</key>
	<string>mycoffe-5a596</string>
	<key>STORAGE_BUCKET</key>
	<string>mycoffe-5a596.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:725914861876:ios:023234c2f334efec17a561</string>
</dict>
</plist>